<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Library Catalog</title>
         <!-- for ios 7 style, multi-resolution icon of 152x152 -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-barstyle" content="black-translucent">
  <link rel="apple-touch-icon" href="../assets/img/logo.png">
  <meta name="apple-mobile-web-app-title" content="Flatkit">
  <!-- for Chrome on Android, multi-resolution icon of 196x196 -->
  <meta name="mobile-web-app-capable" content="yes">
  <link rel="shortcut icon" sizes="196x196" href="../assets/img/logo.png">
  
  <!-- style -->
  <link rel="stylesheet" href="/public/css/animate.min.css" type="text/css" />
  <link rel="stylesheet" href="/public/css/glyphicons.css" type="text/css" />
  <link rel="stylesheet" href="/public/css/font-awesome.min.css" type="text/css" />
  <link rel="stylesheet" href="/public/css/material-design-icons.css" type="text/css" />

  <link rel="stylesheet" href="/public/css/bootstrap.min.css" type="text/css" />
  <!-- build:css ../assets/styles/app.min.css -->
  <link rel="stylesheet" href="/public/css/app.min.css" type="text/css" />
  <!-- endbuild -->
  <link rel="stylesheet" href="/public/css/font.css" type="text/css" />
    </head>
    <body>
        
        <div id="root">
        </div>
        <script src="/public/scripts/jquery.js"></script>
<!-- Bootstrap -->
  <script src="/public/scripts/tether.min.js"></script>
  <script src="/public/scripts/bootstrap.js"></script>
<!-- core -->
  <script src="/public/scripts/jquery.storageapi.min.js"></script>
  <script src="/public/scripts/pace.min.js"></script>

  <script scripts="/public/scripts/config.lazyload.js"></script>

  <script scripts="/public/scripts/palette.js"></script>
  <script scripts="/public/scripts/ui-load.js"></script>
  <script scripts="/public/scripts/ui-jp.js"></script>
  <script scripts="/public/scripts/ui-include.js"></script>
  <script scripts="/public/scripts/ui-device.js"></script>
  <script scripts="/public/scripts/ui-form.js"></script>
  <script scripts="/public/scripts/ui-nav.js"></script>
  <script scripts="/public/scripts/ui-screenfull.js"></script>
  <script scripts="/public/scripts/ui-scroll-to.js"></script>
  <script scripts="/public/scripts/ui-toggle-class.js"></script>
        <script src="https://unpkg.com/react@16/umd/react.development.js"></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js"></script>
        <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
        <script src="https://unpkg.com/babel-standalone@6.15.0/babel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js"></script>
        <script src="https://unpkg.com/react-router/umd/react-router.min.js"></script>
        <script src="https://unpkg.com/react-router-dom/umd/react-router-dom.min.js"></script>
        <script type="text/babel" src="/public/scripts/manage_books_components.js" ></script>
        <script type="text/babel" src="/public/scripts/app.js"></script>

    <script>
      $(document).ready(function() {
        if(sessionStorage.getItem("SessionName") != "logged_in") {
          window.location.href = "http://localhost:3000/signin";
        }
      });
    </script>


    </body>
</html>
